.container {
    display: flex;
    flex-direction: column;
    margin: 10px 0px
}

.dropdown {
    padding: 5px;
    border-radius: 5px;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}